<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <a class="navbar-brand" id="brand" href="#">Avalon</a>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <form class="form-inline rightform">
                <label class="sr-only">Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="forminput" placeholder="Your name">

                <label class="sr-only">Username</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                    <input type="text" class="form-control" id="forminput" placeholder="Email">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <a href="/auth/google_oauth2" , id: "sign in">
                <%= image_tag "https://www.wellesley.edu/sites/default/files/assets/departments/libraryandtechnology/images/computing/google/google-logo2016.png" %>
            </a>
            <a href="/auth/google_oauth2" , id: "sign in">
                <%= image_tag "https://tctechcrunch2011.files.wordpress.com/2013/04/favicon-blue-690x690-copy.png" %>
            </a>
        </ul>


    </nav>
    <div class="jumbotron">
        <div class="avalontext">
            <h1>Avalon</h1>
            <p>The Resistance: Avalon pits the forces of Good and Evil in a battle to control the future of civilization. Arthur represents the future of Britain, a promise of prosperity and honor, yet hidden among his brave warriors are Mordred's unscrupulous minions. These forces of evil are few in number but have knowledge of each other and remain hidden from all but one of Arthur's servants. Merlin alone knows the agents of evil, but he must speak of this only in riddles. If his true identity is discovered, all will be lost.</p>
        </div>
        <div class="video">
            <iframe width="430px" height="340px" src="https://www.youtube.com/embed/CmkfYKXdIpo" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <div id="bottom1" class="view overlay hm-yellow-light">
                <img src="http://masteryeti.no-ip.biz/resistance/gui/images/LoyalServantOfArthur_0.png" alt="" class="picture img-fluid">
                <div class="mask flex-center">
                    <p class="white-text">Strong overlay</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="bottom1" class="view overlay hm-yellow-light">
                <img src="http://masteryeti.no-ip.biz/resistance/gui/images/LoyalServantOfArthur_1.png" alt="" class="picture img-fluid">
                <div class="mask flex-center">
                    <p class="white-text">Strong overlay</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="bottom1" class="view overlay hm-yellow-light">
                <img src="http://masteryeti.no-ip.biz/resistance/gui/images/LoyalServantOfArthur_2.png" alt="" class="picture img-fluid">
                <div class="mask flex-center">
                    <p class="white-text">Strong overlay</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="bottom1" class="view overlay hm-yellow-light">
                <img src="http://masteryeti.no-ip.biz/resistance/gui/images/LoyalServantOfArthur_3.png" alt="" class="picture img-fluid">
                <div class="mask flex-center">
                    <p class="white-text">Strong overlay</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="bottom1" class="view overlay hm-yellow-light">
                <img src="http://masteryeti.no-ip.biz/resistance/gui/images/LoyalServantOfArthur_4.png" alt="" class="picture img-fluid">
                <div class="mask flex-center">
                    <p class="white-text">Strong overlay</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="bottom1" class="view overlay hm-yellow-light">
                <img src="http://masteryeti.no-ip.biz/resistance/gui/images/Merlin.png" alt="" class="picture img-fluid">
                <div class="mask flex-center">
                    <p class="white-text">Strong overlay</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="bottom1" class="view overlay hm-yellow-light">
                <img src="http://masteryeti.no-ip.biz/resistance/gui/images/Percival.png" alt="" class="picture img-fluid">
                <div class="mask flex-center">
                    <p class="white-text">Strong overlay</p>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div id="bottom1" class="view overlay hm-yellow-light">
                <img src="http://masteryeti.no-ip.biz/resistance/gui/images/Assassin.png" alt="" class="picture img-fluid">
                <div class="mask flex-center">
                    <p class="white-text">Strong overlay</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="bottom1" class="view overlay hm-yellow-light">
                <img src="http://masteryeti.no-ip.biz/resistance/gui/images/MinionOfMordred_1.png" alt="" class="picture img-fluid">
                <div class="mask flex-center">
                    <p class="white-text">Strong overlay</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="bottom1" class="view overlay hm-yellow-light">
                <img src="http://masteryeti.no-ip.biz/resistance/gui/images/MinionOfMordred_2.png" alt="" class="picture img-fluid">
                <div class="mask flex-center">
                    <p class="white-text">Strong overlay</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="bottom1" class="view overlay hm-yellow-light">
                <img src="http://masteryeti.no-ip.biz/resistance/gui/images/Mordred.png" alt="" class="picture img-fluid">
                <div class="mask flex-center">
                    <p class="white-text">Strong overlay</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="bottom1" class="view overlay hm-yellow-light">
                <img src="http://masteryeti.no-ip.biz/resistance/gui/images/Morgana.png" alt="" class="picture img-fluid">
                <div class="mask flex-center">
                    <p class="white-text">Strong overlay</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="bottom1" class="view overlay hm-yellow-light">
                <img src="http://masteryeti.no-ip.biz/resistance/gui/images/Oberon.png" alt="" class="picture img-fluid">
                <div class="mask flex-center">
                    <p class="white-text">Strong overlay</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
    <div>
        <% if current_user %>
            <div>
                Signed in as <strong><%= current_user.name %></strong>!
                <%= link_to "Sign out", signout_path, id: "sign_out" %>
            </div>




            <% end %>


    </div>
-->
