@import "bootstrap";
img {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

.button {
    margin-top: 8px;
    
}

.firstnav {
    display: inline;
}

#forminput {
    width: 106px;
}

.rightform {
    margin-left: 160px;
}


label {
    color:aliceblue;
}

body {
    background-image: url(http://cdn.pcwallart.com/images/stone-wall-texture-wallpaper-2.jpg);
    background-repeat: no-repeat;
}

.avalontext {
    width: 380px;
    height: 280px;
    display: inline-block;
    vertical-align: top;
}
.video {
    display: inline-block;
}

.picture {
    width: 100px;
    height: 150px;
    margin-top: 10px;
}


